<ion-header>
  <ion-toolbar>
    <div class="flexHorizontal">
    <ion-router-link  class="backicon" routerLink="/home" routerDirection="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-router-link> 
    <ion-title>Pokemons in de buurt</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item>
        <ion-label>Your position: {{latitude}} | {{longitude}}</ion-label>
      </ion-item>
      <ion-item *ngFor ="let item of GeoPokemons">
        <div class="flexHorizontal">
          <ion-img [src]="item.pokemon.sprite" ></ion-img>
          <div>
            <ion-label>{{item.pokemon.name}}</ion-label>
            <ion-label>Position: {{item.latitude}} | {{item.longitude}}</ion-label>
            <ion-button (click)="GoTocatchpage(item.pokemon)" disabled={{item.cantCatch}}> CATCH!</ion-button>
          </div>
        </div> 
      </ion-item>
    </ion-list>
</ion-content>
