ion-router-link{
    width: 100%;
    text-decoration: none;
    color: black;
  }
  ion-img{
      width: 30%;
  }
  .flexHorizontal{
      display: flex;
      flex-direction: row;
      align-items:center;
  }
