<ion-header>
  <ion-toolbar>
    <ion-title>pokemons in de buurt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Your position: {{latitude}} | {{longitude}}</ion-label>
    </ion-item>
    <ion-item  *ngFor ="let item of GeoPokemons" >
        <div class="flexHorizontal">
          <ion-img [src]="item.pokemon.sprite" ></ion-img>
          <div>
            <ion-label>{{item.pokemon.name}}</ion-label>
            <ion-label>Position: {{item.latitude}} | {{item.longitude}}</ion-label>
            <ion-label>{{item.cantCatch}}</ion-label>
            <ion-button (click)="CatchPokemon(item.pokemon)" disabled={{item.cantCatch}}> CATCH!</ion-button>
          </div>

        </div>
    </ion-item>
  </ion-list>
</ion-content>
