<ion-header>
  <ion-toolbar>
    <div class="flexHorizontal">
    <ion-router-link  class="backicon" routerLink="/home" routerDirection="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-router-link> 
    <ion-title>Alle Pokemons</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list  *ngIf="arePokemonLoaded">
  <ion-item  *ngFor ="let item of pokemons" >
    <ion-router-link  routerLink="/pokemon/{{item.id}}" routerDirection="forward">
      <div class="flexHorizontal">
        <ion-img [src]="item.sprite" ></ion-img>
        <ion-label>{{item.name}}</ion-label>
      </div>
    </ion-router-link>    
  </ion-item>
</ion-list>
</ion-content>
