<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="content1">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let pages of navigate">
    <ion-menu-toggle auto-hide="false">
      <ion-item [routerLink]="pages.url" routerDirection="forward">
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <ion-label class="home-label">Welkom op dé pokemon-app van het moment </ion-label>
  <img alt="sprite" class="center" src="assets/images/splash.png"/>
</ion-content>
