<ion-header>
  <ion-toolbar>
    <div class="flexHorizontal">
      <ion-router-link  routerLink="/pokemon-caught-list" routerDirection="back">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-router-link>
      <ion-title>Pokédex</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemon.pokemon">
  <img alt="sprite" class="center" src="{{pokemon.pokemon.sprite}}"/>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pokémon</ion-card-subtitle>
      <ion-card-title>{{pokemon.pokemon.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{pokemon.pokemon.name}} is a {{pokemon.pokemon.type}} type Pokémon. It is {{pokemon.pokemon.height}} meter high and weighs {{pokemon.pokemon.weight}} kilograms.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="stats">
      <span class="stat"><img alt="hp" class="icon" src="assets/images/hitpoints.png"/> {{pokemon.pokemon.hp}}</span>
      <span class="stat"><img alt="attack" class="icon" src="assets/images/attack.png"/> {{pokemon.pokemon.attack}}</span>
      <span class="stat"><img alt="defence" class="icon" src="assets/images/defence.png"/> {{pokemon.pokemon.defence}}</span>
      <span class="stat"><img alt="speed" class="icon" src="assets/images/speed.png"/> {{pokemon.pokemon.speed}}</span>
    </ion-card-content>
  </ion-card>

  <ion-card class="textfield">
    <ion-card-header>
      <ion-card-subtitle>Name:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="text" [(ngModel)]="name" text-right id="input" placeholder="Enter a name here..." ></ion-input>
  </ion-card-content>
  </ion-card>

  <ion-card class="textarea">
    <ion-card-header>
      <ion-card-subtitle>Description:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea type="text"  [(ngModel)]="description" text-right id="input" placeholder="Enter a description here..."></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Original location:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img id="bg" src="{{'data:image/png;base64,' + pokemon.locationPhotoBase64}}"></ion-img>
    </ion-card-content>
  </ion-card>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
      <ion-fab-button class="button" (click)="SaveInfo()">
        Save
      </ion-fab-button>
    </ion-fab>

    <ion-button class="button" (click)="FreePokemon()">
      Set free
    </ion-button>




</ion-content>
